<h1> Incidents </h1>
<!--
<% @incident =  { :id => '1', :problem_id => '111' }  %>

<table border=1, align=left, bgcolor=rgb(240,240,240), width='100%'>
-->
<table border="", align=left, width=100% >
  <tr>
    <th>incident_id</th>
    <th>problem_id</th>
    <th>host</th>
    <th>service</th>
    <th>status</th>
  </tr>
  <tr>
    <% @incidents.each do |incident| %>
    <%= incident.id %>
    <%= incident.problem_id %>
    <% end %>
  </tr>
</table>
 <% if @incidents.empty? %>
    <em>No Incidents found</em>
 <% end %>
