<h1>Welcome to the show</h1>
<p>This is it so far</p>

<div class="content">
<div id="searchBox">
  <form action="?" method="get">
    <input type="search" placeholder="Search" />
    <input type="submit" value="Search" />
  </form>
</div>
</div>