body{background-color:#FFF;font-family:Verdana,Helvetica,Arial;font-size:14px;margin:0}
a{color:#1B97F2;text-decoration:none}
a:hover{text-decoration:underline}
a img{border:none}
h1{font-size:24px}
h2{font-size:18px}
h3{font-size:14px}
h4{font-size:12px}
.clear{clear:both}
ul{margin:4px 0;padding-left:17px}
ul.horizontal{list-style:none;margin:0;padding:0}
ul.horizontal li{margin:0;padding:0;float:left}
#flash_notice,#flash_alert{padding:10px 0;text-align:center;color:#FFF}
#flash_notice{background-color:#267923}
#flash_alert{background-color:#871F22}
#flash_notice a,#flash_alert a{color:#FFF}
.field{margin:10px 0}
.special_email_field{display:none}
label{display:block}
label.check_box{display:inline}
.field_with_errors{display:inline}
.error_messages{width:400px;border:2px solid #cf0000;padding:0px;padding-bottom:12px;margin:20px 0;background-color:#f0f0f0;font-size:12px}
.error_messages h2{text-align:left;font-weight:bold;padding:5px 10px;font-size:12px;margin:0;background-color:#c00;color:#fff}
.error_messages p{margin:8px 10px}
.error_messages ul{margin:0;margin-left:10px}
#top{position:relative;padding-top:1px}
#top .logo{margin-top:50px;margin-left:100px;padding-bottom:10px}
#top .user_nav{color:#777;font-size:12px;position:absolute;top:15px;right:100px}
#top .user_nav a{color:#777;text-decoration:underline}
.warning,.warning a,#top .user_nav .warning a{color:#D00;font-weight:bold}
#top .subscribe{position:absolute;bottom:10px;right:100px}
#top .subscribe li{position:relative;margin-left:8px;font-size:12px}
#top .subscribe li .name{display:none}
#top .subscribe li:hover .name{display:block;position:absolute;top:-22px;left:-84px;width:200px;color:#000;text-align:center}
#nav_bar{position:relative;padding:17px 100px;background-color:#333;border-top:solid 1px #fff;background:-webkit-gradient(linear, left top, left bottom, from(#5c5c5c), to(#111));background:-moz-linear-gradient(top, #5c5c5c, #111);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5C5C5C', endColorstr='#111111');border-bottom:solid 3px #de9f00;margin-bottom:15px}
#nav_bar .nav{float:right;padding-top:2px}
#nav_bar .nav li{padding-left:25px;font-size:14px;color:#BBB}
#nav_bar .nav li a{color:#FFF}
#main{padding-top:15px;max-width:1500px}
#footer{clear:both;font-size:11px;text-align:center;padding:25px 0;color:#555}
.content{margin:0 100px;position:relative}
.content>h1{margin-top:1px}
.text_content{margin:0 100px;margin-right:400px}
.actions{margin:8px 0}
.actions a{padding:3px 8px 2px 8px;font-size:12px;color:#000;border:1px solid #999;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;background:#DDD;background:-webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#ddd));background:-moz-linear-gradient(top, #f5f5f5, #ddd);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5F5F5', endColorstr='#DDDDDD');text-decoration:none}
.pretty_button{font-size:13px;padding:5px 10px 6px 10px;font-weight:bold;border:1px solid #466a98;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;color:#FFF;background:#386FB2;background:-webkit-gradient(linear, left top, left bottom, from(#67b0ef), to(#2b5ea4));background:-moz-linear-gradient(top, #67b0ef, #2b5ea4);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#67B0EF', endColorstr='#2B5EA4');text-decoration:none;text-shadow:0 -1px 0 #036}
.pretty_button:hover{text-decoration:none}
.read_button{font-size:13px;padding:5px 10px 6px 10px;font-weight:bold;border:1px solid #6f2c26;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;color:#FFF;background:#A23831;background:-webkit-gradient(linear, left top, left bottom, from(#f98179), to(#a23831));background:-moz-linear-gradient(top, #f98179, #a23831);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F98179', endColorstr='#A23831');text-decoration:none;text-shadow:0 -1px 0 #661514}
.read_button:hover{text-decoration:none}
.pagination{margin:8px 0;font-size:12px}
.pagination .disabled{color:#999}
.pagination em{font-style:normal}
.pagination a,.pagination em,.pagination .previous_page,.pagination .next_page{padding:4px}
.code_block{margin:12px 0;clear:both}
.code_header{position:relative;background-color:#E0E0E0;font-size:12px;padding:4px 7px;border:solid 1px #b6b6b6;border-bottom:none}
code{border:solid 1px #ccc;background-color:#EEE;font-family:"Menlo","Courier New","Terminal",monospace;padding:0 3px}
pre code{display:block;background-color:#EEE;padding:5px 7px}
.full .screenshot{float:left}
.screenshot img{border:solid 1px #999;display:block}
.full .main{margin-left:215px}
.full .info{color:#999;font-size:12px}
.full .info a{color:#999}
.full .number{text-transform:uppercase;font-weight:bold}
.full h2{margin:3px 0}
.full .description{margin-bottom:17px}
.full .stats{font-size:11px;color:#777;font-weight:normal;padding-left:3px}
.full .notes{font-size:11px;margin-top:10px}
.list{border-collapse:collapse;width:100%}
.list .star{font-size:14px;text-decoration:none;margin-left:0}
.list .unstarred{color:#AAA}
.list .starred{color:#E98C08}
.list td,.list th{border-bottom:solid 1px #ccc}
.list td{padding:5px}
.list th{padding:5px;text-align:left;color:#777}
.list .comment_count{color:#000}
.list em{color:#777;padding-left:5px}
.side{position:absolute;right:0;top:0}
.side .banner{margin-top:15px;text-align:center}
.search_option{margin-bottom:15px}
.search_option ul{list-style:none;margin:0;padding:0;border:solid 1px #bbb;border-top:none;padding:5px 20px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px;-moz-border-radius-bottomleft:5px;-moz-border-radius-bottomright:5px}
.search_option li{margin:5px 0;font-size:14px}
.search_option h2{padding:4px 20px;margin:0;font-weight:normal;color:#444;font-size:14px;text-align:center;border-top-left-radius:6px;border-top-right-radius:6px;-webkit-border-top-left-radius:6px;-webkit-border-top-right-radius:6px;-moz-border-radius-topleft:6px;-moz-border-radius-topright:6px;border:solid 1px #bbb;border-bottom-color:#AAA;background-color:#DDD;background:-webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));background:-moz-linear-gradient(top, #eee, #ccc);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#CCCCCC')}
#comments{margin-top:10px}
.comment{margin:20px 0;position:relative}
.comment .avatar{float:left;border:solid 1px #ccc;color:#FFF;padding:4px}
.comment .avatar img{display:block}
.comment .user_actions{position:absolute;top:72px}
.comment .main{margin-left:83px}
.nested_comments{margin-left:83px}
.nested_comments .nested_comments .nested_comments .nested_comments{margin-left:0}
.comment .headline{padding:5px 14px;font-size:12px;background-color:#DDD;border:solid 1px #bbb;border-bottom:none;border-top-left-radius:5px;border-top-right-radius:5px;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;background:-webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));background:-moz-linear-gradient(top, #eee, #ccc);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#CCCCCC')}
.comment .position,.comment .name{font-weight:bold}
.comment .created_at{color:#666;padding-left:8px}
.comment_content{padding:1px 15px;background-color:#FFF;border:solid 1px #ccc;border-top:none;border-bottom-left-radius:5px;border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px;-moz-border-radius-bottomleft:5px;-moz-border-radius-bottomright:5px}
.comment .actions{margin-bottom:12px}
.comment blockquote{margin:0;padding-left:10px;border-left:solid 5px #ccc;color:#777}
#add_comment{margin-top:30px}
.formatting{font-size:12px;margin:8px 0}
.markdown_examples{margin-top:5px}
.markdown_examples table{border-collapse:collapse}
.markdown_examples table td{border:solid 1px #ccc;padding:2px 10px}
.markdown_examples .code_block{width:200px}
#pro_info{width:800px;margin:0 auto;font-size:14px}
#feedback{width:680px;float:left}
#feedback_instructions{margin-left:700px;min-width:225px}
#feedback_instructions li{margin:5px 0}
#feedback h2.bar{padding:4px 20px;margin:0;font-weight:normal;color:#333;font-size:14px;text-align:center;border-top-left-radius:6px;border-top-right-radius:6px;-webkit-border-top-left-radius:6px;-webkit-border-top-right-radius:6px;-moz-border-radius-topleft:6px;-moz-border-radius-topright:6px;border:solid 1px #bbb;border-bottom-color:#AAA;background-color:#DDD;background:-webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#bbb));background:-moz-linear-gradient(top, #f3f3f3, #bbb);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F3F3F3', endColorstr='#BBBBBB')}
#feedback form{background-color:#EEE;padding:10px 20px;border:solid 1px #bbb;border-top:none;border-bottom-left-radius:5px;border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px;-moz-border-radius-bottomleft:5px;-moz-border-radius-bottomright:5px}
#feedback .info{font-size:13px;margin-bottom:30px}
#feedback label{float:left;width:160px;text-align:right;padding-right:10px;padding-top:2px}
#feedback .actions{padding-left:170px}
#feedback input,#feedback textarea{font-size:14px}
#feeds_list{border-collapse:collapse}
#feeds_list td{border:1px solid #999;padding:4px 8px}
#notifications{width:680px}
#notifications form{background-color:#EEE;padding:10px 20px;border:solid 1px #bbb;border-radius:5px;border-radius:5px;-webkit-border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-moz-border-radius:5px}
#notifications .info{font-size:13px;margin-bottom:30px}
#notifications label{float:left;width:160px;text-align:right;padding-right:10px;padding-top:2px}
#notifications input[type=checkbox]{margin-left:170px}
#notifications .check_box label{float:none;width:auto;text-align:left;padding:0;display:inline}
#notifications .actions{padding-left:170px}
#searchBox {
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.2);
    position: relative;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
#searchBox input.search {
    border: 1px solid #6E93A9;
    -moz-border-radius: 15px;
    border-radius: 15px;
    height: 13px;
    padding: 2px 10px;
    width: 200px;
    color: #999;
    font-weight: normal;
}
#searchBox input.search:focus {
    border: 1px solid #639bcf;
}
#searchBox input.submit {
    background: -webkit-gradient(linear, left top, left bottom, from(#7dbe0a), to(#a2d93f));
    background: -moz-linear-gradient(top, #7dbe0a, #a2d93f);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7dbe0a', endColorstr='#a2d93f');
    color: #FFF;
    border: 1px solid #7ec115;
    height: 19px;
    line-height: 14px;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    position: absolute;
    right: 4px;
    top: 3px;
    cursor: pointer;
 }
 #searchBox input.submit:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#a2d93f), to(#7dbe0a));
    background: -moz-linear-gradient(top, #a2d93f, #7dbe0a);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#a2d93f', endColorstr='#7dbe0a');
 }
 #searchBox input.submit:focus,
 #searchBox input.submit:active {
    background: -webkit-gradient(linear, left top, left bottom, from(#7dbe0a), to(#a2d93f));
    background: -moz-linear-gradient(top, #7dbe0a, #a2d93f);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7dbe0a', endColorstr='#a2d93f');
 }